body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  transition: background 0.5s ease-in-out;
}

#quote-box {
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-text,
.quote-author {
  margin: 0;
  font-size: 1.2em;
}

.new-quote-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.new-quote-button:hover {
  opacity: 0.8;
}

.tweet-quote-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.tweet-quote-link:hover {
  text-decoration: underline;
}
